.Content-Cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.Content-Card {
    padding: 30px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 6px;
    background-image: radial-gradient(circle farthest-side, #C4F9C4, #A1F6A1);
    flex-basis: 150px;
    flex-grow: 1;
    flex-direction: column;
}

.Content-Card iframe {
    width: 400px;
    height: 215px;
    border-radius: 10px;
}

.Content-Cards h2 {
    font-family: 'EB Garamond', sans-serif;
    font-size: 26px;
}
